<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">EmployeeManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-dark" (click)="onOpenModal(null, 'add')">Add Employee<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Employees" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{employee?.image}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.name}}</h5>
                        <p class="m-0">{{employee.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
                            href="#">{{employee?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee.phone | mask: '00 000 0000'}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenEditModal(employee, 'edit')" class="btn btn-primary tooltips"
                            data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i
                                class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenEditModal(employee, 'delete')" class="btn btn-secondary tooltips"
                            data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i
                                class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Add Employee Modal-->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" id="formUser" class="row g-3" autocomplete="off">

                    <div class="col-md-12">
                        <label for="fullName" class="form-label">Name</label>
                        <input type="text" [(ngModel)]="employee.name" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="fullName" required placeholder="Ex: Monkey D. Luffy">
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email Adress</label>
                        <input type="email" [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="email" required placeholder="Ex: monkey@gmail.com">
                    </div>
                    <div class="col-md-12">
                        <label for="job" class="form-label">Job Title</label>
                        <input type="text" [(ngModel)]="employee.jobTitle" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="job" required placeholder="Ex: Graphics Designer">
                    </div>
                    <div class="col-md-12">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" mask="00 000 0000" [(ngModel)]="employee.phone" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="phone" required placeholder="84 000 0000">
                    </div>
                    <div class="col-md-12">
                        <label for="image" class="form-label">Image Url</label>
                        <input type="text" [(ngModel)]="employee.image" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="image" required placeholder="Image URL">
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" (click)="onAddEmployee(addForm)"
                        [disabled]="addForm.invalid">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Employee Modal-->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm" id="formUser" class="row g-3" autocomplete="off">

                    <div class="col-md-12">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" [(ngModel)]="employee.id" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="id" readonly>
                        <input type="hidden" [(ngModel)]="employee.employeeCode" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="code">
                    </div>
                    <div class="col-md-12">
                        <label for="fullName" class="form-label">Name</label>
                        <input type="text" [(ngModel)]="employee.name" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="fullName" required placeholder="Ex: Monkey D. Luffy">
                    </div>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email Adress</label>
                        <input type="email" [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="email" required placeholder="Ex: monkey@gmail.com">
                    </div>
                    <div class="col-md-12">
                        <label for="job" class="form-label">Job Title</label>
                        <input type="text" [(ngModel)]="employee.jobTitle" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="job" required placeholder="Ex: Graphics Designer">
                    </div>
                    <div class="col-md-12">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" mask="00 000 0000" [(ngModel)]="employee.phone" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="phone" required placeholder="84 000 0000">
                    </div>
                    <div class="col-md-12">
                        <label for="image" class="form-label">Image Url</label>
                        <input type="text" [(ngModel)]="employee.image" [ngModelOptions]="{standalone: true}"
                            class="form-control" name="image" required placeholder="Image URL">
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeEdit" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" (click)="onUpdateEmployee(editForm, employee)">Save
                        Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--A Delete Employee Modal-->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this employee {{employee?.name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="closeDelete" (click)="onDeleteEmploye(employee?.id)">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>