<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">EmployeeManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link btn btn-dark" (click)="onOpenModal(null, 'add')">Add Employee<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{employee?.image}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.name}}</h5>
                        <p class="m-0">{{employee.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
                            href="#">{{employee?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                            data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips"
                            data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i
                                class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Add Employee Modal-->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formUser" class="row g-3" autocomplete="off">

                    <div class="col-md-12">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" name="id" readonly="readonly">
                    </div>
                    <div class="col-md-12">
                        <label for="fullName" class="form-label">Name</label>
                        <input type="text" class="form-control" name="fullName" required
                            placeholder="Ex: Monkey D. Luffy">
                    </div>
                    <div class="col-md-12">
                        <label for="userName" class="form-label">Email Adress</label>
                        <input type="email" class="form-control" name="email" required
                            placeholder="Ex: monkey@gmail.com">
                    </div>
                    <div class="col-md-12">
                        <label for="passWord" class="form-label">Job Title</label>
                        <input type="text" class="form-control" name="job" required placeholder="Ex: Graphics Designer">
                    </div>
                    <div class="col-md-12">
                        <label for="passWord" class="form-label">Phone</label>
                        <input type="text" class="form-control" name="phone" required placeholder="Ex: 84 000 0000">
                    </div>
                    <div class="col-md-12">
                        <label for="passWord" class="form-label">Image Url</label>
                        <input type="text" class="form-control" name="job" required placeholder="Image URL">
                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>